.login-frame {
    margin-top: 4%;
    margin-left: 13%;
    margin-right: 10%;
    border-top:1px solid #9d9d9d;
    border-left: 1px solid #9d9d9d;
    border-bottom:1px solid #9d9d9d;
    border-right: 1px solid #9d9d9d;
}

.label-name {
    padding-top: 2%;
    text-align: center;
}

.group {
    margin-left: 18%;
}

.layout-style {
    margin-top: 6%;
    margin-right: 7%;
}
.nav {
    margin-left:25%;
}
.but-register:link {
      color:#00b3ee;
      font-size: 14px;
      text-decoration:none;
  }
.but-register:visited {
    color:#3c3c3c;
    font-size: 14px;
    text-decoration:none;
}
.but-register:hover {
    color:#000000;
    font-size: 14px;
    text-decoration:none;
}
.but-register:active {
    color:#FFFFFF;
    font-size: 14px;
    text-decoration:none;
}

.layout-style {
    margin-bottom: 5%;
    margin-left: 2%;
}