.login-frame {
    margin-top: 2%;
    margin-left: 11%;
    width: 20%;
    border-top:1px solid #9d9d9d;
    border-left: 1px solid #9d9d9d;
    border-bottom:1px solid #9d9d9d;
    border-right: 1px solid #9d9d9d;
}

.label-name {
    padding-top: 2%;
    text-align: right;
}

.group {
    margin-left: 18%;
}

.layout-style {
    margin-top: 6%;
    margin-right: 7%;
}